* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: "Planquin", sans-serif;
  background-color: #eff1ff;
  font-size: 1.6rem;
}

h1 {
  font-size: 4rem;
  color: #ffffff;
  font-weight: 400;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.title {
  background: #cbc0d3;
  padding: 0.8rem;
  margin-bottom: 2.9rem;
  width: 100%;
  text-align: center;
}

h1,
span {
  font-family: "Staatliches", cursive;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  line-height: 3.4rem;
}

header {
  background: #8e9aaf;
  display: grid;
  padding: 3.2rem 0;
  place-items: center;
  margin-bottom: 3.2rem;
}

header img {
  padding-bottom: 3.2rem;
}


main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  text-align: center;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 400;
  color: #23053a;
  -webkit-font-snoothing: antialiased;
  width: 31.5rem;
  margin-bottom: 3.2rem;
}

.intro-desktop {
  display: none;
}

.cards {
  display: grid;
  gap: 3.2rem;
}

.card {
  position: relative;
  height: fit-content;
}

span {
  font-size: 2rem;
  color: #4e4e69;

  position: absolute;
  top: 1.6rem;
  right: 1.6rem;

  background: #feeafa;
  border-radius: 2rem;
  padding: 0 2rem;

  animation: downtop 700ms 200ms backwards ease-in;
}

.card img {
  width: 100%;
  border-radius: 2rem;
  animation: topdown 700ms;
}

footer {
  display: none;
}

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 900px) {

  .container {
    display: flex;
  }

  header {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: fixed;
    width: 35rem;
  }

  main {
    margin: 0 auto;
  }

  .text {
    display: none;
  }

  .intro-desktop {
    display: block;
    text-align: center;
  }

  .intro-desktop p {
    color: #FFFFFF;
    font-size: 2rem;
    line-height: 2.2rem;
  }

  .cards {
    grid-template-areas:
      "sorveteA sorveteB"
      "sorveteC sorveteB"
      "sorveteC sorveteD";
    margin: 6.4rem 1rem 0 37.7rem;
  }

  .cards .card:nth-child(1) {
    grid-area: sorveteA;
  }

  .cards .card:nth-child(2) {
    grid-area: sorveteC;
  }

  .cards .card:nth-child(3) {
    grid-area: sorveteD;
  }

  .cards .card:nth-child(4) {
    grid-area: sorveteB;
  }

  .cards .card:nth-child(5) {
    display: none;
  }

  .cards .card:nth-child(6) {
    display: none;
  }

  footer {
    display: block;
    margin-left: 37.7rem;
    padding-top: 5rem;
  }

  footer p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    color: #4a4e69;
    line-height: 2.8rem;
  }

  footer p a {
    font-weight: 700;
    text-decoration: none;
    color: #4a4e69;
  }
}

@media (min-width: 1440px) {

  .intro-desktop {
    text-align: center;
  }

  .intro-desktop p {
    color: #FFFFFF;
    font-size: 2rem;
    line-height: 2.2rem;
  }

  .cards {
    grid-template-areas:
      "A B C"
      "D B E"
      "D F E";
  }

  .cards .card:nth-child(1) {
    grid-area: A;
  }

  .cards .card:nth-child(2) {
    grid-area: B;
  }

  .cards .card:nth-child(3) {
    grid-area: C;
  }

  .cards .card:nth-child(4) {
    grid-area: D;
  }

  .cards .card:nth-child(5) {
    display: inline;
    grid-area: E;
  }

  .cards .card:nth-child(6) {
    display: block;
    grid-area: F;
  }

}
